<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Program</title>
</head>

<body>
  <h1>hi</h1>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script>
    // Javascript that request Data
    var getData;
    function updateData(Year1,Year2,Country,Season,Event,Sport,Medal){
      getData = $.get(`/query?Year1=${Year1}&Year2=${Year2}&Country=${Country}&Season=${Season}&Event=${Event}&Sport=${Sport}&Medal=${Medal}`);
    };
    updateData("1900","1920","All","All","All","All","All");
    getData.done(function(results){
      console.log(results);
    })
  </script>

</body>
</html>
